header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 50px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
}
header span{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
span p{
    margin: 5px;
}
.th-icon{
    margin: 5px;
    font-size: 25px;
}
.th-icon:hover{
    color: grey;
}
.icon-box{
    box-sizing: border-box;
    background-color: blanchedalmond;
    padding: 5px;
    width: 245px;
    height: 300px;
    position: absolute;
    top: 50px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    overflow-y: scroll;
    /* display: initial; */
}
.icon-list{
 font-size: 42px;
 margin: 15px;
 width: 50px;
}
.icon-list:hover{
    background-color: lavender;
}
.box-none{
    display: none;
}
.user-container{
    background-image: url('../../happy_face.png');
    /* background-color: lavenderblush; */
    width: 35px;
    height: 35px;
    box-shadow: inset 0 0 10px black;
    border-radius: 20px;
    margin: 10px;
}