header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 50px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
    background-color: antiquewhite;
}
header span{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
span p{
    margin: 5px;
}
.th-icon{
    margin: 5px;
    font-size: 20px;
}